Flask==3.1.2
flask-cors==6.0.1
gunicorn==23.0.0
requests==2.34.2
python-dotenv==1.2.1

numpy==2.3.4
pandas==2.3.3
scikit-learn==1.7.2
scipy==1.16.3
joblib==1.5.2

Pillow==12.0.0
opencv-python-headless==4.13.0.92
easyocr==1.7.2

google-generativeai==0.8.6

firebase-admin==7.5.0

APScheduler==3.11.1
gTTS==2.5.4
num2words==0.5.14

pydantic==2.13.4
PyJWT==2.13.0
bcrypt==5.0.0

plotly==6.3.1
resend==2.32.2